.container {
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
    border-radius: min(1vh, 1vw);
    width: 40px;
    height: 35px;
    background-color: var(--color__main-theme);
}