.container__input {
    appearance: none;
    width: max-content;
    height: 35px;
    border: 2px var(--color__main-theme) solid;
    border-radius: 7px 0 0 7px;
    z-index: 10;
    
}

.container__input>input {
    appearance: none;
    outline: none;
    width: 300px;
    height: 100%;
    padding: 7px;
    border-radius: 7px 0 0 7px;
}