.modal {
    display: grid;
    background-color: red;
    opacity: 1;
    z-index: 2;
}

.open {
    animation-duration: 500ms;
    animation-name: open;
}

.close {
    animation-duration: 500ms;
    animation-name: close;
}

@keyframes open {
    0% {
        z-index: 0;
        opacity: 0;
        height: 80%;
    }

    100% {
        opacity: 1;
        height: 100%;
    }
}

@keyframes close {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 0;
    }
}