.entity__description {
    display: grid;
    padding: max(1vh, 1px);
    font-size: max(2vh, 14px);
}

.entity__description>p {
    display: -webkit-box;
    width: max(20vh, 110px);
    min-width: 80px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}