.container__result {
    display: grid;
    background-color: white;
    z-index: 20;
    border: 1px black solid;
    border-radius: 7px;
}

.container__result>ul {
    appearance: none;
    list-style: none;
    padding: 15px 10px;
}

.container__result>ul>li {
    border-radius: 7px;
    padding: 15px 10px;
    cursor: pointer;
}

.container__result>ul>li:hover {
    background: #e9f3ff;
}