.dropdown {
    display: grid;
}

.content {
    display: none;
}

.open {
    display: block;
    position: absolute;
    width: 100%;
    animation-duration: 150ms;
    animation-name: open;
}

.background {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

@keyframes open {
    0% {
        opacity: 0;
        transform: translateY(-10vh);
    }

    40% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translateY(0vh);
    }
}